
@media (min-width:1500px) {
  .UpsParent {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 40%;
    position: fixed;
    bottom: 2rem;
    left: 110rem;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: none;
  }
  
  .visible {
    opacity: 1;
    display: inline-block;
  
  }
  
  .UpsInsideParent {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }
}
@media (max-width:1500px) {
  .UpsParent {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 40%;
    position: fixed;
    bottom: 2rem;
    left: 85%;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: none;
  }
  
  .visible {
    opacity: 1;
    display: inline-block;
  
  }
  
  .UpsInsideParent {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }
}

@media (min-width:1500px) and (max-width:1830px) {
  .UpsParent {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 40%;
    position: fixed;
    bottom: 2rem;
    left: 90%;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: none;
  }
  
  .visible {
    opacity: 1;
    display: inline-block;
  
  }
  
  .UpsInsideParent {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }
}





